/* AppelStan
Accueil principal

Alexandre Hébert & Joseph de Gaullier
appelstan1920@gmail.com
©AppelStan */

#body {

  font-family: 'Playfair Display', serif;
    text-align: center;
    background-image: url(../../img/Fond.png);
    height: 780px;
    margin: 40px;
    
}

img {
  border-radius: 10px;
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.intro {
  margin-top: 50px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 25px;
  color: #FFF;
}
